body{
background-color: #161616;
}


.cards{
    display: flex;
    margin: 0 auto;
}


@media(max-width: 1230px){
    .cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 845px){
    .cards{
        display: grid;
        grid-template-columns: 1fr;
    }
}






